<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="user/base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>OK</title>
  </head>
  <body>
    <section>
      <div class="main-dashboard container text-center">
        <img style="width: 150px" src="" th:src="@{/image/direction.png}" alt="guide-image">
        <h1 class="main-header mt-2">Student Guide</h1>
        <hr>
        <p class="main-paragraph">
          Checkout our <span class="keyword">INFO</span> section for the details
          you are looking for and don't forget to checkout
          <span class="keyword">FAVORITES</span>, it's where you can add what
          you like.
        </p>
      </div>
    </section>
  </body>
</html>
